<!DOCTYPE html>
<html lang="es">

<head>
    <title>INMOJAEN: Borrar Usuario</title>
    <th:block th:replace="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>
    <div>
        <div th:replace="~{fragments/general.html :: navigation}"> </div>
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">INMOJAEN: Borrar usuario <i class="fa-solid fa-user"></i> <i class="fa-solid fa-trash"></i> </h4>
            </div>
            <div class="card-body">
                <form class="row" th:action="@{/usuarios/delete}" th:object="${usuario}" method="post">
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{username}" />
                    <div class="mb-3 col-6 text-center">
                        <label class="form-label" for="username"><b>Nombre de Usuario:</b></label>
                        <input class="form-control" th:field="*{username}" disabled />
                    </div>
                    <div class="mb-3 col-6 text-center">
                        <label class="form-label" for="rol_user"><b>Rol Usuario:</b></label>
                        <input class="form-control" th:field="*{rol}" disabled />
                    </div>
                    <div class="mb-3 col-6 text-center">
                        <label class="form-label" for="email"><b>Email:</b></label>
                        <input class="form-control" th:field="*{email}" disabled />
                    </div>
                    <div class="mb-3 col-6 text-center">
                        <label class="form-label" for="nombre"><b>Nombre:</b></label>
                        <input class="form-control" th:field="*{nombre}" disabled />
                    </div>
                    <div class="mb-3 col-6 text-center">
                        <label class="form-label" for="apellidos"><b>Apellidos:</b></label>
                        <input class="form-control" th:field="*{apellidos}" disabled />
                    </div>
                    <div class="mb-3 col-6 text-center">
                        <label class="form-label" for="telefono"><b>Teléfono:</b></label>
                        <input class="form-control" type="number" th:field="*{telefono}" disabled
                            placeholder="No hay un teléfono asociado" />
                    </div>
                    
                    <div class="text-center mt-3">
                        <button class="btn btn-lg btn-danger mt-3" type="submit">Borrar Usuario <i class="fa-solid fa-trash"></i></button>
                        &nbsp;&nbsp;
                        <!-- Botón de cancelar -->
                        <a class="btn btn-lg btn-primary mt-3" href="/usuarios">Cancelar y volver <i class="fa-solid fa-rotate-left"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/general.html :: footer}"></div>
    </div>
</body>

</html>