<!DOCTYPE html>
<html lang="es">

<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div th:fragment="navigation">

            <!-- TODO: Completar cada barra de navegación con los contenidos de cada perfil -->

            <!-- Admin - Administrador -->
            <!-- Barra de navegación -->
            <nav sec:authorize="hasAuthority('ADMIN')" class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"> &nbsp; <i class="fa-solid fa-screwdriver-wrench"></i> <i> ADMIN </i> </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAdm"
                        aria-controls="navbarAdm" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarAdm">
                        <!-- Lista de botones de la barra de navegación -->
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/"><i class="fa-solid fa-circle-user"></i> Info</a>
                            </li>

                            <!-- Usuarios -->
                            <!-- Todo: Usuarios (Desplegable) - Falla en iniciar los enlaces -->
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuAdminLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Usuarios
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuAdminLink">
                                    <li><a id="menu_usuarios" class="dropdown-item" href="/usuarios">Lista de usuarios</a></li>
                                    <li><a id="menu_registro" class="dropdown-item" href="/usuarios/add">Registrar usuario</a></li>
                                </ul>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="/usuarios"><i class="fa-solid fa-users"></i> Usuarios </a>
                            </li>

                            <!-- Anuncios -->
                            <!-- Todo: Anuncios (Desplegable) - Falla en iniciar los enlaces -->
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Anuncios
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a id="menu_anuncios" class="dropdown-item" href="/anuncios">Lista de anuncios</a></li>
                                    <li><a id="menu_crear" class="dropdown-item" href="/anuncios/add">Crear anuncio</a></li>
                                </ul>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="/anuncios"><i class="fa-solid fa-house-chimney"></i> Anuncios
                                </a>
                            </li>

                            <!-- Páginas apoyo extra -->
                            <li class="nav-item">
                                <a class="nav-link" href="/help"><i class="fa-solid fa-circle-question"></i> Ayuda </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about"><i class="fa-solid fa-circle-info"></i> Sobre esta Web
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="/logout"><i
                                        class="fa-solid fa-user-slash text-danger"></i> Cerrar Sesión </a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Escribir búsqueda..."
                                aria-label="Search">
                            <button class="btn btn-outline-success" type="submit"><i
                                    class="fa-sharp-duotone fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                </div>
            </nav>

            <!-- Seller - Vendedor -->
            <!-- Barra de navegación -->
            <nav sec:authorize="hasAuthority('SELLER')" class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSel"
                        aria-controls="navbarSel" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSel">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/"><i class="fa-solid fa-circle-user"></i> ¡Hola, [[${#authentication.name}]]!</a>
                            </li>
                            <!-- Lista de anuncios - seller  -->
                            <li class="nav-item">
                                <a class="nav-link" href="/anuncios"> <i class="fa-solid fa-house-user"></i> Mis anuncios
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/publicar"><i class="fa-solid fa-house"></i><i class="fa-solid fa-plus"></i> Publicar anuncio </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/perfil"><i class="fa-solid fa-user"></i> Mi perfil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/anuncios"><i class="fa-solid fa-house-chimney"></i> Lista de anuncios
                                </a>
                            </li>
                            <!-- Páginas apoyo extra -->
                            <li class="nav-item">
                                <a class="nav-link" href="/help"><i class="fa-solid fa-circle-question"></i> Ayuda </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about"><i class="fa-solid fa-circle-info"></i> Sobre esta Web
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="/logout"><i
                                        class="fa-solid fa-user-slash text-danger"></i> Cerrar Sesión </a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Escribir búsqueda..."
                                aria-label="Search">
                            <button class="btn btn-outline-success" type="submit"><i
                                    class="fa-sharp-duotone fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                </div>
            </nav>

            <!-- Buyer - Comprador -->
            <!-- Barra de navegación -->
            <nav sec:authorize="hasAuthority('BUYER')" class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBuy"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/"><i class="fa-solid fa-circle-user"></i> Inicio</a>
                            </li>
                            <!-- Lista de anuncios - buyer  -->
                            <li class="nav-item">
                                <a class="nav-link" href="/anuncios"><i class="fa-solid fa-house-chimney"></i> Todos los anuncios
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/favoritos"><i class="fa-solid fa-heart"></i> Mis favoritos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/perfil"><i class="fa-solid fa-user"></i> Mi perfil
                                </a>
                            </li>
                            <!-- Páginas apoyo extra -->
                            <li class="nav-item">
                                <a class="nav-link" href="/help"><i class="fa-solid fa-circle-question"></i> Ayuda </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about"><i class="fa-solid fa-circle-info"></i> Sobre esta Web
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger" href="/logout"><i
                                        class="fa-solid fa-user-slash text-danger"></i> Cerrar Sesión </a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Escribir búsqueda..."
                                aria-label="Search">
                            <button class="btn btn-outline-success" type="submit"><i
                                    class="fa-sharp-duotone fa-solid fa-magnifying-glass"></i></button>
                        </form>
                    </div>
                </div>
            </nav>

        </div>
        <div th:fragment="footer">
            <footer>
                <div class="text-center">
                    <hr />
                    <p>
                        <span class="text-center">Ⓒ 2024. IES Virgen del Carmen. CFGS Desarrollo Multiplataforma.</span>
                    </p>
                    <hr />
                </div>
                <script src="/webjars/jquery/jquery.min.js"></script>
                <script src="/webjars/popper.js/umd/popper.min.js"></script>
                <script src="/webjars/bootstrap/js/bootstrap.js"></script>
            </footer>
        </div>
    </div>
</body>

</html>