<!DOCTYPE html>
<html lang="es">

<head>
  <title>INMOJAEN: Anuncios</title>
  <th:block th:replace="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>

  <div th:replace="~{fragments/general.html :: navigation}"></div>
  <hr>
  <h3 class="h3 text-center">Lista total de anuncios publicados <i class="fa-solid fa-house-chimney"></i></h3>
  <hr>
  
  <div class="container">
    <table class="table table-striped"> <!-- table-hover> -->
      <thead>
        <div class="d-grid gap-1">
          <a class="btn btn-success btn-lg" th:href="@{/anuncios/add}">Publicar nuevo anuncio <i class="fa-solid fa-house"></i> <i class="fa-solid fa-plus"></i></a>&nbsp;
        </div>
        <tr>
          <!-- Todo: Sustituir ID por imagen principal del anuncio -->
          <th>ID</th>
          <th>Título</th>
          <th>Descripción</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="anuncio: ${anuncios}">
          <td th:text="${anuncio.id}"></td>
          <td th:text="${anuncio.titulo}"></td>
          <td th:text="${anuncio.descripcion}"></td>
          <td th:text="${#numbers.formatDecimal(anuncio.precio, 1, 2) + ' €'}"></td>
          <td>
            <form th:action="@{/anuncios/activate}" method="post">
              <a class="btn btn-info" th:href="|/anuncios/info/${anuncio.id}|"><i class="fa-solid fa-circle-info"></i> Información</a>&nbsp;
              <a class="btn btn-warning" th:href="|/anuncios/edit/${anuncio.id}|"><i class="fa-solid fa-square-pen"></i> Editar</a>&nbsp;
              <a class="btn btn-danger" th:href="|/anuncios/delete/+${anuncio.id}"><i class="fa-solid fa-trash"></i> Borrar</a>&nbsp;
              <!-- Tipos de botón alternativos: Activar y Desactivar -->
              <input type="hidden" name="id" th:value="${anuncio.id}">
              <button class="btn btn-dark" th:if="${anuncio.activo}"><i class="fa-solid fa-circle-xmark"></i> Desactivar </button>
              <button class="btn btn-light" th:unless="${anuncio.activo}"><i class="fa-solid fa-circle-check"></i> Activar </button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="~{fragments/general.html :: footer}">
  </div>
</body>

</html>