
<!DOCTYPE html>
<html lang="es">

<head>
    <title>INMOJAEN: Borrar Anuncio</title>
    <th:block th:replace="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>
    <div>
        <div th:replace="~{fragments/general.html :: navigation}"></div>
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">INMOJAEN: Borrar Anuncio <i class="fa-solid fa-house"></i> <i class="fa-solid fa-trash"></i></h4>
            </div>
            <div class="card-body">
                <!-- Alerta de advertencia -->
                <div class="alert alert-danger text-center" role="alert">
                    <strong>Advertencia:</strong> Esta acción no se puede deshacer. Al borrar un anuncio, se elimina de forma permanente, 
                    incluyendo toda la información, las imagenes y los mensajes asociados.
                </div>
                <!-- Formulario para borrar anuncio -->
                <form class="row" th:action="@{/anuncios/delete}" th:object="${anuncio}" method="post">
                    <!-- Campo oculto para enviar el ID -->
                    <input type="hidden" th:field="*{id}" />

                    <!-- Detalles básicos del anuncio -->
                    <div class="mb-3 col-12 text-center">
                        <label class="form-label" for="titulo"><b>Título:</b></label>
                        <input class="form-control" th:field="*{titulo}" disabled />
                    </div>
                    <div class="mb-3 col-12 text-center">
                        <label class="form-label" for="descripcion"><b>Descripción:</b></label>
                        <textarea class="form-control" th:field="*{descripcion}" rows="3" disabled></textarea>
                    </div>
                    <div class="mb-3 col-12 text-center">
                        <label class="form-label" for="usuario.username"><b>Usuario anunciante:</b></label>
                        <input class="form-control" th:field="*{usuario.username}" disabled />
                    </div>
                    <!-- Botones de acción -->
                    <div class="text-center mt-3">
                        <button class="btn btn-lg btn-danger mt-3" type="submit">
                            Borrar Anuncio <i class="fa-solid fa-trash"></i>
                        </button>
                        &nbsp;&nbsp;
                        <a class="btn btn-lg btn-primary mt-3" href="/anuncios">
                            Cancelar y Volver <i class="fa-solid fa-rotate-left"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/general.html :: footer}"></div>
</body>

</html>