<!DOCTYPE html>
<html lang="es">

<head>
  <title>INMOJAEN: Edición de anuncio</title>
  <th:block th:replace="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>

  <div>
    <div th:replace="~{fragments/general.html :: navigation}"> </div>
    <div class="card">
        <div class="card-header">
            <h4 class="text-center"> Editar anuncio <i class="fa-solid fa-house-chimney"></i><i class="fa-solid fa-pen"></i> </h4>
        </div>
        <div class="card-body">
            <form class="row" th:action="@{/anuncios/edit}" th:object="${anuncio}" method="post">
                <input type="hidden" th:field="*{id}" />
                <div class="mb-3 col-4 text-center">
                    <label class="form-label" for="titulo"><b>Título:</b></label>
                    <input class="form-control" th:field="*{titulo}" placeholder="Titulo del anuncio" />
                </div>
                <div class="mb-3 col-8 text-center">
                    <label class="form-label" for="descripcion"><b>Descripcion:</b></label>
                    <input class="form-control" th:field="*{descripcion}" placeholder="Descripcion del anuncio" />
                </div>
                <div class="mb-3 col-4 text-center">
                    <label class="form-label" for="precio"><b>Precio de venta:</b></label>
                    <input class="form-control" th:field="*{precio}" />
                </div>
                <div class="mb-3 col-2 text-center">
                    <label class="form-label" for="habitaciones"><b>Habitaciones:</b></label>
                    <input class="form-control" th:field="*{habitaciones}" />
                </div>
                <div class="mb-3 col-2 text-center">
                    <label class="form-label" for="banos"><b>Baños:</b></label>
                    <input class="form-control" th:field="*{banos}" />
                </div>
                <div class="mb-3 col-4 text-center">
                    <label class="form-label" for="superficie"><b>Superficie:</b></label>
                    <input class="form-control" th:field="*{superficie}" />
                </div>
                <div class="mb-3 col-6 text-center">
                    <label class="form-label" for="direccion"><b>Dirección:</b></label>
                    <input class="form-control" th:field="*{direccion}" />
                </div>

                <!-- Cambiar el usuario al que pertenece el anuncio -->
                <div class="mb-3 col-6 text-center">
                    <label class="form-label" for="id_usuario" required><b>Modificar Usuario Propietario:</b></label>
                    <select name="id_usuario" id="id_usuario" class="form-select" required>
                        <option th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.username}" 
                                th:selected="${anuncio.vendedor?.id == usuario.id}"></option>
                    </select>
                </div>

                <!-- Todo: Modificar tipo de anuncio (Venta, Alquiler) -->
                    <!-- <div class="mb-3 col-6 text-center">
                        <label class="form-label" for="user" required><b>Seleccionar Tipo de Anuncio:</b></label>
                        <select th:field="*{tipo}" class="form-select" required>
                            <option th:each="tipo: ${tipos}" th:value="${tipo.tipo}"
                                th:text="${tipo.tipo}" th:selected="${tipo.tipo}">
                            </option>
                        </select>
                    </div> -->
                
                <div class="text-center mt-3">
                    <button class="btn btn-lg btn-success mt-3" type="submit">Aceptar cambios <i class="fa-solid fa-check"></i> </button>
                    &nbsp;
                    <button class="btn btn-lg btn-warning mt-3" type="reset">Resetear valores <i class="fa-solid fa-arrow-left"></i> </button>
                    &nbsp;
                    <a class="btn btn-lg btn-info mt-3" th:href="|/anuncios/images/${anuncio.id}|" type="submit"> Imágenes del anuncio <i class="fa-solid fa-image"></i> </a>
                    &nbsp;
                    <a class="btn btn-lg btn-primary mt-3" href="/anuncios" type="submit">Volver a Anuncios <i class="fa-solid fa-rotate-left"></i> </a>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{fragments/general.html :: footer}"></div>
</div>
</body>

</html>