<!DOCTYPE html>
<html lang="es">

<head>
    <title>INMOJAEN: Información anuncio</title>
    <th:block th:replace="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>

    <div>
        <div th:replace="~{fragments/general.html :: navigation}"> </div>
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">Información completa: Anuncio (ID: [[${id}]]) <i class="fa-solid fa-house-chimney"></i> </h4>
            </div>
            <div class="card-body">
                <div class="row" th:object="${anuncio}">
                    <div class="mb-3 col-4 text-center">
                        <label class="form-label" for="titulo"><b>Título:</b></label>
                        <input class="form-control" th:field="*{titulo}" placeholder="Titulo del anuncio" disabled />
                    </div>
                    <div class="mb-3 col-8 text-center">
                        <label class="form-label" for="descripcion"><b>Descripcion:</b></label>
                        <input class="form-control" th:field="*{descripcion}" disabled />
                    </div>
                    <div class="mb-3 col-2 text-center">
                        <label class="form-label" for="precio"><b>Precio de venta:</b></label>
                        <input class="form-control" th:value="${#numbers.formatDecimal(anuncio.precio, 1, 2) + ' €'}" disabled />
                    </div>
                    <div class="mb-3 col-1 text-center">
                        <label class="form-label" for="habitaciones"><b>Habitaciones:</b></label>
                        <input class="form-control" th:field="*{habitaciones}" disabled />
                    </div>
                    <div class="mb-3 col-1 text-center">
                        <label class="form-label" for="banos"><b>Baños:</b></label>
                        <input class="form-control" th:field="*{banos}" disabled />
                    </div>
                    <div class="mb-3 col-2 text-center">
                        <label class="form-label" for="superficie"><b>Superficie:</b></label>
                        <input class="form-control" th:value="${#numbers.formatDecimal(anuncio.superficie, 1, 0) + ' m&sup2;'}" disabled />
                    </div>
                    <div class="mb-3 col-6 text-center">
                        <label class="form-label" for="direccion"><b>Dirección:</b></label>
                        <input class="form-control" th:field="*{direccion}" disabled />
                    </div>
                    
                    <div class="text-center mt-3">
                        <!-- <button class="btn btn-lg btn-success mt-3" type="submit">Aceptar cambios</button>
                    &nbsp;
                    <button class="btn btn-lg btn-warning mt-3" type="reset">Resetear valores</button>
                    &nbsp; -->
                        <!-- Botón de cancelar -->
                        <a class="btn btn-lg btn-warning mt-3" th:href="|/anuncios/edit/${anuncio.id}|" type="submit">Editar anuncio <i class="fa-solid fa-pen-to-square"></i> </a>&nbsp;
                        <a class="btn btn-lg btn-primary mt-3" href="/anuncios" type="submit">Volver a Anuncios <i class="fa-solid fa-rotate-left"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/general.html :: footer}"></div>
    </div>
</body>

</html>