<!DOCTYPE html>
<html lang="es">

<head>
    <title>INMOJAEN: Sobre esta Web</title>
    <th:block th:replace="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>
    <div>
        <div th:replace="~{fragments/general.html :: navigation}"> </div>
        <hr>
        <h5 class="h5 text-center"><i class="fa-solid fa-circle-info"></i> - Sobre esta WEBAPP - </i></h5>
        <hr>
        <div class="container">                
            <div class="row justify-content-center">
                <div class="col-md-8 text-center"><br>
                    <p>Aplicación Spring Web realizada
                        como Proyecto de fin de Ciclo<br>de 
                        Desarrollo de Aplicaciones Multiplataforma <br>
                        - IES Virgen del Carmen - (Jaén) - <br><br>
                        <big>
                            <i class="fa-brands fa-java"></i>&nbsp;&nbsp;
                            <i class="fa-brands fa-html5"></i>&nbsp;&nbsp;
                            <i class="fa-brands fa-js"></i>&nbsp;&nbsp;
                            <i class="fa-brands fa-docker"></i>
                        </big>
                    </p>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/general.html :: footer}"> </div>
    </div>
</body>

</html>