<!DOCTYPE html>
<html lang="es">

<head>
    <title>INMOJAEN: Ayuda</title>
    <th:block th:replace="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>
    <div>
        <div th:replace="~{fragments/general.html :: navigation}"> </div>
        <hr>
        <h4 class="h4 text-center"><i class="fa-solid fa-circle-question"></i> - AYUDA DE LA APLICACIÓN </h4>
        <hr>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <!-- Mensaje común para todos los usuarios: 
                        (Por cierto: Las etiquetas h1, h2, etc. INTERFIEREN con sec:authorize) -->
                    <h5>¡Bienvenida/o a INMOJAEN!</h5><br>
                    
                    <!-- Contenido para usuarios autenticados como invitados (TEMPORAL) -->
                    <p sec:authorize="hasAuthority('TEMPORAL')">
                        <i>¿Aún no has iniciado sesión? ¿O no te has registrado?</i> <br><br>
                         Para disfrutar de más funcionalidades, por favor,
                        <a href="/login">Inicia Sesión</a> o <a href="/register">Regístrate.</a> <br><br>
                        Podrás guardar y consultar tus favoritos, contactar con vendedores, crear tus propios anuncios,
                        gestionar tus datos y <b> disfrutar de todas las funcionalidades. </b>
                        <br><br>
                        Es un minuto, <b>¡y es GRATIS!</b>
                    </p>

                    <!-- Contenido para usuarios normales (USER) -->
                    <p sec:authorize="hasAuthority('USER')">
                        Como <b><i>Usuario Registrado</i></b>, disfrutas de <b>todas las funcionalidades:</b> <br><br>
                        - Creación de anuncios: Publicación de anuncios con todas sus características, y sus imágenes. <br>
                        - Activar o desactivar tus anuncios (para recuperarlos después), editarlos o eliminarlos. <br>
                        - Guardar tus anuncios preferidos como favoritos para consultarlos en cualquier momento. <br>
                        - Contactar con los propietarios de los anuncios para consultar visitas, dudas y negociar. <br>
                        - Gestión de tus datos personales. Puedes actualizar tus datos y cambiar tu contraseña. <br><br>
                        Para saber más, consulta el <a href="/uploads/Manual de Usuario.pdf"><b>Manual de Usuario.</b></a><br><br>
                        Si encuentras problemas técnicos o necesitas ayuda con tus anuncios, por favor, contacta
                        con el equipo de administración: <br><br>
                        <a href="https://www.inmojaen.admin.com">www.inmojaen.admin.com</a>
                    </p>

                    <!-- Contenido para administradores (ADMIN) -->
                    <p sec:authorize="hasAuthority('ADMIN')">
                        Como <b>Administrador</b> tienes acceso a todas las herramientas de gestión.
                        Puedes gestionar todos los usuarios y todos los anuncios.
                        Recuerda que, al borrar cualquiera de ellos, sus datos se perderán permanentemente.
                        <br><br>
                        <i><u> Detalles a tener en cuenta: </u></i> <br><br>
                        - Al crear un usuario, el atributo <b>'username'</b> es único y no puede estar ya
                        registrado ni cambiarse. <br> 
                        -El atributo <b> 'email' </b> es único, pero el <b> usuario </b> puede cambiarlo 
                        si también el nuevo email es único.  <br>
                        - Al crear un anuncio, deben proporcionarse todos los detalles necesarios. <br>
                        - Para <b>bloquear / desbloquear</b> el acceso de un usuario o anuncio,
                        utilizar su botón correspondiente de <b>'Activar' / 'Desactivar'.</b>
                        <br><br>
                        Para saber más, consulta el <a href="/uploads/Manual de Usuario.pdf"><b>manual de
                                usuario.</b></a>
                        <br><br>
                        Si encuentras problemas técnicos o necesitas realizar cambios importantes, por favor, contacta
                        al equipo de soporte: <br>
                        <a href="https://www.inmojaen.support.com">www.inmojaen.support.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/general.html :: footer}"> </div>
    </div>
</body>

</html>