<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title> INMOJAEN - Inicio </title>
    <th:block th:replace="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>
    <div th:replace="~{fragments/general.html :: navigation}"> </div>
    <div class="container-fluid">

        <div class="container d-flex justify-content-center align-items-center" style="height: auto;">
            <div class="card m-4 text-center" style="width:inherit;">
                <picture>
                    <!-- <img src="/img/inmojaen.jpg" class="card-img-top" alt="logo"> -->
                    <img th:src="@{/img/IJmax.jpg}" class="card-img-top img-fluid rounded" alt="logo"
                        style="max-width: 300px; border: 2px solid #ddd;">
                </picture>
                <div class="card-body">
                    <h5 class="card-title m-1" sec:authorize="isAuthenticated()">
                        <b>Perfil registrado: </b>
                        <hr>
                    </h5>
                    <h5 class=" card-title h4 m-1" sec:authorize="isAnonymous()">
                        ¡Bienvenido!
                        <hr> <i class="fa-solid fa-user-lock"></i> - Inicia Sesión o entra como Invitado
                    </h5>
                    <p sec:authorize="hasAuthority('ADMIN')">
                        <b> ADMINISTRADOR - <span sec:authentication="name"></span></b><br>
                        <i> # ATENCION: No olvide cerrar la sesión al terminar # </i>
                    </p>
                    <p sec:authorize="hasAuthority('USER')">
                        <b><i> <i class="fa-solid fa-circle-user"></i> USUARIO - </i></b>
                        <b> Nombre de usuario: <span sec:authentication="name"></span> </b>
                    </p>
                    <!-- USUARIO PREMIUM (Implementar en el futuro) -->
                    <!-- <p sec:authorize="hasAuthority('PREMIUM')">
                        <b><i> <i class="fa-solid fa-circle-user"></i> USUARIO PREMIUM - </i></b>
                        <b> Nombre de usuario: <span sec:authentication="name"></span> </b> <br><br>
                        <i> Usuario Premium </i>
                        <br>
                    </p> -->
                    <a sec:authorize="isAuthenticated()" href="/logout" class="btn btn-danger"><i
                            class="fa-solid fa-user-slash"></i> Cerrar Sesión</a>
                    <a sec:authorize="isAnonymous()" href="/login" class="btn btn-success mt-3"> <i
                            class="fa-solid fa-user-shield"></i> Iniciar Sesión </a>&nbsp;&nbsp;
                    <a sec:authorize="isAnonymous()" href="/invitado" class="btn btn-secondary mt-3"> <i
                            class="fa-solid fa-user-clock"></i> Invitado </a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/general.html :: footer}"></div>
</body>

</html>